/* Global Styles */
/* Root Variables for Global Colors and Shadows */
:root {
    --color-gray-100: #f8f9fc; /* Light gray */
    --color-gray-200: #f1f3f9; /* Light gray */
    --color-gray-300: #dee3ed; /* Medium gray */
    --color-gray-400: #c2c9d6; /* Medium gray */
    --color-gray-500: #8f96a3; /* Medium dark gray */
    --color-gray-600: #5e636e; /* Dark gray */
    --color-gray-700: #2f3237; /* Dark gray */
    --color-gray-800: #1d1e20; /* Very dark gray */
    --color-gray-900: #111213; /* Almost black */

    --color-white: #fff !important; /* White */
    --color-black: #111213 !important; /* Black */
    --color-transparent: rgba(255, 255, 255, 0) !important; /* Transparent */

    --color-background-light: var(--color-gray-100) !important; /* Light background */
    --color-background-default: var(--color-gray-200) !important; /* Default background */
    --color-background-dark: var(--color-gray-300) !important; /* Dark background */

    --color-border-light: var(--color-gray-200) !important; /* Light border */
    --color-border-default: var(--color-gray-300) !important; /* Default border */
    --color-border-dark: var(--color-gray-400) !important; /* Dark border */

    --color-text-very-light: var(--color-gray-500) !important; /* Very light text */
    --color-text-light: var(--color-gray-600) !important; /* Light text */
    --color-text-default: var(--color-gray-700) !important; /* Default text */
    --color-text-dark: var(--color-gray-800) !important; /* Dark text */

    --color-overlay-default: #fff !important; /* Default overlay color */
    --color-overlay-dark: #fff !important; /* Dark overlay color */
    --color-overlay-transparent: rgba(0, 0, 0, 0.1) !important; /* Transparent overlay color */

    --shadow-default: 0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04); /* Default shadow */
    --shadow-active: 0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2); /* Active shadow */
    --shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important; /* Website overlay shadow */

    --font-primary-family: "Noto Sans"; /* Primary font family */
    --font-primary-weight: 600; /* Primary font weight */
    --font-secondary-family: "Noto Sans"; /* Secondary font family */
    --font-secondary-weight: 400; /* Secondary font weight */
    --font-text-family: "Noto Sans"; /* Text font family */
    --font-text-weight: 400; /* Text font weight */
    --font-accent-family: "Noto Sans"; /* Accent font family */
    --font-accent-weight: 500; /* Accent font weight */

    --color-primary: #000000; /* Primary color */
    --color-secondary: #54595F; /* Secondary color */
    --color-text: #7A7A7A; /* Text color */
    --color-accent: #3F7853; /* Accent color */
    --color-highlight: #A6351B; /* Highlight color */
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; /* Sets default font family */
    font-size: 1rem; /* Sets default font size */
    font-weight: 400; /* Sets default font weight */
    line-height: 1.5; /* Sets default line height */
    color: var(--color-text-default); /* Sets default text color */
    background-color: var(--color-white); /* Sets default background color */
    -webkit-font-smoothing: antialiased; /* Improves font rendering */
    -moz-osx-font-smoothing: grayscale; /* Improves font rendering on Mac */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

header {
    background-color: var(---color-white); /* Sets header background color */
    border-bottom: 1px solid var(--color-border-default); /* Adds bottom border to header */
    position: relative; /* Positions header relative to its normal position */
    width: 100%; /* Ensures full width of the header */
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-top: 0;
    margin-bottom: .9rem;
    font-family: "Noto Sans", Sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.header__container {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Distributes space evenly between items */
    align-items: center; /* Aligns items vertically */
    max-width: 1200px; /* Limits maximum width */
    padding: 20px 80px; /* Adds padding around container */
    margin: 0 auto; /* Centers container */
}

.logo img {
    max-width: 150px; /* Sets maximum image width */
    width: 100%; /* Ensures the image takes full width of its container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures image is treated as a block element */
}

.nav-menu {
    display: flex; /* Enables flexbox layout for navigation menu */
    align-items: center; /* Aligns items vertically */
    justify-content: flex-end; /* Aligns items to the end of the container */
    gap: 20px; /* Adds space between items */
}

.nav-menu__list {
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically */
}

.nav-menu__item {
    position: relative; /* Positions item relative to its normal position */
}

.nav-menu__link {
    text-decoration: none; /* Removes underline from links */
    color: var(--color-secondary); /* Sets link color */
    font-family: "Noto Sans", sans-serif; /* Sets font family */
    font-weight: 500; /* Sets font weight */
    font-size: 12px; /* Sets font size */
    transition: color 0.3s, transform 0.3s; /* Adds transition for color and transform changes */
    padding: 13px 20px; /* Adds padding around links */
    display: inline-block; /* Ensures link is treated as a block element */
    text-transform: uppercase; /* Transforms text to uppercase */
    letter-spacing: 1.2px; /* Adjusts space between letters */
}

.nav-menu__item:not(:last-child) .nav-menu__link::after {
    content: '|'; /* Adds vertical bar after links */
    display: inline-block; /* Ensures bar is treated as a block element */
    color: var(--color-secondary); /* Sets bar color */
    margin-left: 20px; /* Adds margin to the left of the bar */
}

.nav-menu__link:hover {
    color: var(--color-primary); /* Changes link color on hover */
}

/* Content Section Styling */
.content__section {
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Distributes space evenly between items */
    display: flex; /* Enables flexbox layout */
    padding: 0 0px 40px 0px; /* Adds padding around content */
    width: 100%; /* Full width */
    height: 580px; /* Automatically adjusts height based on content */
    background-image: url('/images/coliseum.png'); /* Background image */
    background-color: var(--color-overlay-default); /* Background color */
    background-size: contain; /* Covers entire section */
    background-position: top right; /* Positions background */
    background-repeat: no-repeat; /* Prevents background repetition */
    border-bottom-right-radius: 50px; /* Rounds the bottom-right corner */
    margin-bottom: 0; /* Adds space between sections */
    position: relative; /* Sets relative position for z-index */
    z-index: 1; /* Base z-index for stacking */
    overflow: visible; /* Allows for overlap from other sections */
}

.content__overlay {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Distributes space evenly between items */
    width: 100%; /* Full width */
    padding: 0; /* Removes padding */
    position: relative; /* Ensures stacking context */
    z-index: 1; /* Ensures text is above the image */
}

.decorative-image {
    position: absolute; /* Positions the image absolutely */
    top: 0; /* Adjusts top position over the text */
    left: 25%; /* Centers the image horizontally */
    transform: translateX(-50%); /* Centers it properly */
    max-width: 215px; /* Sets maximum width of the image */
    width: 100%; /* Ensures the image takes full width of its container */
    height: auto; /* Maintains aspect ratio */
    z-index: 1; /* Ensures it is behind the text */
    opacity: 100%; /* Makes the image visible */
    pointer-events: none; /* Prevents interaction with the image */
}

.content__text {
    flex: 1; /* Allows flex item to grow and shrink */
    padding: 20px 0px 10px 230px; /* Adds padding around text */
    color: var(--color-text-dark); /* Sets text color */
    position: relative; /* Ensures stacking context */
    z-index: 1; /* Ensures text appears above other overlays */
}

.content__text h1 {
    font-size: 3.3rem; /* Sets font size for heading */
    margin-bottom: 20px; /* Adds margin below heading */
    color: var(--color-primary); /* Sets default heading color */
    line-height: 1; /* Sets line height */
    font-weight: 100; /* Normal weight for the text "Reconheça a sua" */
    letter-spacing: 2px; /* Adjusts space between letters */
}

.content__text h1 .highlighted-text {
    font-weight: 700; /* Bold weight for emphasis */
    color: var(--color-primary); /* Green color for the bold text */
    letter-spacing: 2px; /* Slightly less letter spacing for bold text */
}

.divider {
    width: 150px; /* Sets the width of the divider */
    height: 4px; /* Sets the height of the divider */
    background-color: var(--color-accent); /* Sets divider color */
    margin: 20px 0; /* Adds margin to create space around the divider */
}

.content__text p {
    font-size: 1.35rem; /* Sets font size for paragraph */
    margin-bottom: 22px; /* Margin below paragraph */
    color: var(--color-text-dark); /* Sets paragraph color */
    letter-spacing: 1px; /* Adjusts space between letters */
}

.content__placeholder {
    flex: 1; /* Allows flex item to grow and shrink */
    /* This empty div can be styled or kept as-is for spacing */
}

/* Button Styles */
.button {
    display: inline-block; /* Ensures button is treated as a block element */
    background-color: var(--color-accent); /* Sets button background color to match screenshot */
    color: #fff; /* Sets button text color */
    padding: 8px 40px; /* Adds padding around button */
    text-decoration: none; /* Removes underline from button text */
    font-weight: 600; /* Sets button text weight */
    border-radius: 50px; /* Adds rounded corners to button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow to button */
    transition: background-color 0.3s, transform 0.3s; /* Adds transition for color and transform changes */
    text-align: center; /* Centers text */
    text-transform: uppercase; /* Transforms text to uppercase */
    letter-spacing: 1px; /* Adjusts space between letters */
}

.button:hover {
    background-color: #306241; /* Changes button background color on hover */
    transform: translateY(-2px); /* Adds translate effect on hover */
}

/* About Section Styles */
.about-section {
    background-color: var(--color-background-light); /* Sets background color */
    width: 100%; /* Full width */
    padding: 0; /* Adds more padding for visual weight */
    position: relative; /* Positioning for stacking */
    overflow: hidden; /* Ensures no overflow */
    margin-top: -100px; /* Pulls the section up */
    margin-bottom: 10px; /* Adds space between sections */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle box shadow */
}

.about-container {
    max-width: 1200px; /* Sets max width for content */
    padding-bottom: 85px;
    margin: 0 auto; /* Centers content */
    display: flex; /* Enables flexbox layout */
    justify-content: flex-end; /* Aligns child to the right */
    align-items: center; /* Centers items vertically */
    position: relative;
    background-color: var(--color-overlay-defaul);
    z-index: 1; /* Ensures highest stacking in the about section */
}

.about-content {
    position: relative; /* Ensures stacking context */
    z-index: 2; /* Highest z-index to ensure it is above all other content */
    background-image: url('/images/passaporto.png'); /* Background image */
    background-size: 75% auto; /* Adjusts the size of the background */
    background-repeat: no-repeat; /* Prevents background repetition */
    background-position: bottom left; /* Adjusts position of the background */
    top: 40px;
    padding: 60px; /* Adds padding */
    border-radius: 50px; /* Rounds the corners */
    background-color: var(--color-overlay-default); /* Background color */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Adds a more prominent box shadow */
}

/* Ensure the text is positioned properly over the background */
.about-text {
    position: relative; /* Ensures stacking context for internal elements */
    color: var(--color-text-dark); /* Text color */
    width: 45%; /* Restricts width of text area */
    padding: 0px 0px 73px 575px; /* Adds padding */
    background-color: transparent; /* Allows background image to show */
}

.about-text h2 {
    margin-bottom: 20px; /* Adds margin below heading */
    color: var(--color-text-dark); /* Sets heading color */
    font-family: "Noto Sans", Sans-serif; /* Sets font family */
    font-size: 21px; /* Sets font size */
    font-weight: 900; /* Sets font weight */
    letter-spacing: .9px; /* Adjusts letter spacing */
}

.about-text ul {
    list-style-type: disc; /* Removes default list style */
    padding: 20px; /* Removes padding */
    }

.about-text ul li {
    line-height: 35px; /* Sets line height */
    color: var(--color-text-dark); /* Sets text color */
    font-family: "Noto Sans", Sans-serif; /* Sets font family */
    font-size: 17px; /* Sets font size */
    font-weight: 400; /* Sets font weight */
    letter-spacing: .5px; /* Adjusts letter spacing */
}

.about-text .divider {
    width: 40px; /* Sets the width of the divider */
    height: 4px; /* Sets the height of the divider */
    background-color: var(--color-accent); /* Sets divider color */
    margin: 20px 0; /* Adds margin to create space around the divider */
}

.about-text img {
    position: absolute; /* Positioning for stacking */
    top: 25px; /* Sets the top position */
    right: -200px; /* Sets the right position */
    width: 210px; /* Sets the width of the image */
    height: auto; /* Maintains aspect ratio */
    z-index: 0; /* Ensures it is behind the text */
    opacity: 0.8; /* Adjusts the opacity */
    pointer-events: none; /* Prevents interaction with the image */
}

/* Benefits Section Styles */
.benefits-section {
    background-color: var(--color-overlay-default); /* Sets background color */
    width: 100%; /* Full width */
    padding: 0%; /* Adds padding */
    position: relative; /* Positioning for stacking */
    overflow: hidden; /* Ensures no overflow */
    margin-bottom: 0px; /* Adds space between sections */
}

.benefits-container {
    max-width: 1200px; /* Sets max width for content */
    margin: 0 auto; /* Centers content */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers child horizontally */
    align-items: center; /* Centers items vertically */
    background-image: url('/images/acesso.png'); /* Sets background image */
    background-repeat: no-repeat; /* Prevents background repetition */
    background-position: 0 -60px; /* Adjusts position of the background */
    background-size: 60% auto; /* Adjusts the size of the background */
    position: relative; /* Positioning for stacking */
    z-index: 1; /* Ensures it is below the benefits section */
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 80px 0 60px;
}

.benefits-heading-container {
    position: relative; /* Ensure this container is the positioning context for both image and text */
    text-align: center; /* Center-align text and image within the container */
}

.benefits-heading-container img {
    position: absolute;
    top: 50%; /* Center the image vertically in the container */
    left: 10%; /* Center the image horizontally in the container */
    transform: translate(-90%, -62%); /* Adjust to truly center the image */
    width: 80%; /* Adjust width to better fit within the container */
    height: auto; /* Maintain aspect ratio */
    z-index: 0; /* Ensure image is behind text */
    opacity: 100%; /* Reduce opacity for better text readability */
}

.benefits-title {
    margin: 0px;
    padding: 20px;
    line-height: 1;
    position: relative; /* Ensure text is positioned correctly relative to its container */
    z-index: 1; /* Ensure text appears above the image */
    font-size: 21px; /* Sets font size */
    color: var(--color-primary); /* Sets text color */
    margin-bottom: 10px; /* Adds bottom margin */
    font-weight: 800; /* Sets font weight */
    letter-spacing: .9px; /* Adjusts letter spacing */
    text-align: center; /* Centers the title */
    background-color: transparent; /* Ensure no background color overlaps */
}

/* Card Section Styles */
.cards-section {
    width: 100%; /* Full width for the section */
    padding: 0 0 20px 0; /* Add padding for spacing */
    background-color: var(--color-white); /* Set background color */
    display: flex;
    justify-content: center; /* Center the card container */
}

.cards-container {
    max-width: 1200px; /* Limit the max width of the container */
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; /* Adjust spacing between items */
    flex-wrap: nowrap; /* Prevent wrapping to keep items in a single line */
    width: 100%; /* Full width */
    padding: 0 20px; /* Horizontal padding for the container */
    gap: 40px; /* Add spacing between cards */
}

.cards-content {
    display: flex; /* Flexbox for icon and text alignment */
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center-align children */
    text-align: center; /* Center-align text */
    flex: 1; /* Allow flexible width */
    transition: transform 0.3s ease; /* Smooth hover effect */
    padding: 20px; /* Add padding for spacing */
}

.cards-icon img {
    width: 60px; /* Set icon size */
    height: 50px; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Space below icon */
}

.cards-heading-container {
    margin-top: 10px; /* Space above the heading */
}

.cards-title {
    font-size: 1.2rem; /* Set title font size */
    font-weight: 700; /* Bold text */
    color: var(--color-gray-800); /* Set text color */
    margin-bottom: 8px; /* Space below the title */
    text-transform: capitalize; /* Capitalize each word */
    margin-top: 0;
}

.cards-content p {
    font-size: 1rem; /* Set paragraph font size */
    color: var(--color-gray-600); /* Set paragraph text color */
    line-height: 1.5; /* Set line height for readability */
}

/* Lines Section Styles */
.long-green-line {
    display: inline-block; /* Ensure it acts as an inline-block element */
    width: 60%; /* Set a specific width for demonstration, adjust as needed */
    height: 2px; /* Set the height of the line */
    background-color: var(--color-accent); /* Set line color */
    margin: 0 8% 0 0; /* Adjust margin to bring it closer to text */
    z-index: 0; /* Ensure it is behind the img */
}

.short-red-line {
    display: inline-block; /* Ensure it acts as an inline-block element */
    width: 10%; /* Set width for demonstration, adjust as needed */
    height: 2px; /* Set the height of the line */
    background-color: red; /* Set line color */
    margin: 0 5px; /* Adjust margin to bring it closer to text */
}

/* Services Section Styles */
.services-content {
    margin-top: 50px; /* Add margin above title */
    background-color: var(--color-white); /* Set background color */

}

.services-list {
    display: flex; /* Enable flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to next line if needed */
    gap: 20px; /* Add spacing between items */
    margin-top: -20px; /* Add margin above items */
    padding-left: 54%; /* Add padding to left to center the list */
    line-height: 2.5rem; /* Adjust the line height as needed */
    font-size: 17px; /* Adjust the font size as needed */

}

.statua-content img {
    width: 30%;
    height: auto;
    margin-top: -16%;
    margin-left: 15%;
    border-radius: 10px;
    z-index: 1;
}

.services-heading-container {
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Reduce gap between elements */
    flex-direction: row; /* Ensure elements are in a row */
    text-align: left; /* Center-align text */
    margin-bottom: 30px; /* Margin below the container */
}

.services-title {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Keep the text bold */
    color: var(--color-primary); /* Use the primary color */
    margin: 0; /* Remove default margins */
    padding: 0 10px; /* Add slight padding if needed */
    text-align: left; /* Align the text to the left */
}

.service-list {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}


/* Parla Section Styles */
.parla-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -3
    %;
    margin-bottom: 50px;
}


.parla-content .long-green-line {
    display: inline-block; /* Ensure it acts as an inline-block element */
    width: 55%;
    height: 2px;
    background-color: var(--color-accent);
    margin: 0 -2% 0 0;
    z-index: 0;
}

.parla-content h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary);
    margin: 0;
    padding: 0 10px;
    text-align: left;
    z-index: 2;
    overflow: visible;
}

.parla-img {
    width: 35%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 10px;
    z-index: 1;
    transform: translate(31%, 4%); /* Adjust to truly center the image */

}


/* Responsive Media Queries */

@media (max-width: 1024px) {
    .cards-container {
        flex-wrap: wrap; /* Allow wrapping for smaller screens */
        justify-content: center; /* Center items when wrapped */
        gap: 20px; /* Adjust gap for smaller screens */
    }

    .cards-content {
        flex: 1 1 calc(50% - 20px); /* Adjust flex for tablets */
        max-width: calc(50% - 20px); /* Ensure max width for tablets */
    }

    .cards-icon img {
        width: 50px; /* Adjust icon size for tablets */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 768px) {
    .header__container {
        flex-direction: column; /* Stacks items vertically */
        align-items: flex-start; /* Aligns items to start of container */
        padding: 10px 20px; /* Adjusts padding */
    }

    .logo img {
        max-width: 120px; /* Sets maximum image width */
        width: 100%; /* Ensures the image takes full width of its container */
    }

    .nav-menu__list {
        flex-direction: column; /* Stacks navigation items vertically */
        gap: 10px; /* Adjusts gap between items */
    }

    .content__section,
    .about-section,
    .benefits-section {
        padding: 20px; /* Adjusts padding */
    }

    .decorative-image {
        max-width: 80px; /* Sets maximum image width for smaller screens */
        width: 100%; /* Ensures the image takes full width of its container */
        height: auto; /* Maintains aspect ratio */
        top: -10px; /* Adjusts position */
        left: 50%; /* Centers the image horizontally */
        transform: translateX(-50%); /* Centers it properly */
        opacity: 100%; /* Makes the image visible */
    }

    .about-decorative-image {
        top: -10px; /* Adjusts position */
        left: 50%; /* Centers the image horizontally */
        transform: translateX(-50%); /* Centers it properly */
        opacity: 100%; /* Makes the image visible */
    }

    .content__text {
        padding: 0; /* Removes padding */
        text-align: center; /* Centers text */
        flex: 1 1 100%; /* Adjusts flex properties */
    }

    .button {
        padding: 12px 20px; /* Adjusts padding */
    }

    .about-text .divider {
        width: 40px; /* Sets the width of the divider */
        height: 4px; /* Sets the height of the divider */
        background-color: var(--color-accent); /* Sets divider color */
        margin: 20px 0; /* Adds margin to create space around the divider */
    }

    .about-text {
        padding-left: 0; /* Removes extra padding */
    }

    .cards-content {
        flex: 1 1 100%; /* Adjust flex for mobile */
        max-width: 100%; /* Ensure full width for mobile */
    }

    .cards-icon img {
        width: 40px; /* Adjust icon size for mobile */
        height: auto; /* Maintain aspect ratio */
    }

    .cards-title {
        font-size: 1rem; /* Adjust font size for mobile */
    }

    .cards-content p {
        font-size: 0.9rem; /* Adjust paragraph font size for mobile */
    }
}

@media (max-width: 480px) {
    .content__section {
        height: auto; /* Allows height to adjust automatically */
    }

    .content__text h1 {
        font-size: 2rem; /* Adjusts font size */
        letter-spacing: 0.8px; /* Adjusts letter spacing for smaller screens */
    }

    .content__text p {
        font-size: 1rem; /* Adjusts font size */
        letter-spacing: 0.3px; /* Tightens letter spacing for readability */
    }

    .button {
        padding: 10px 15px; /* Adjusts padding */
    }

    .header__container {
        padding: 0px; /* Adjusts padding */
    }

    .about-section,
    .benefits-section {
        padding: 20px; /* Adjusts padding */
    }

    .about-text h2 {
        font-size: 1.5rem; /* Sets font size */
    }

    .about-text ul li {
        font-size: 0.9rem; /* Sets font size */
    }

    .benefits-title {
        font-size: 1.5rem; /* Sets font size */
    }

    .cards-content {
        flex: 1 1 100%; /* Adjust flex for mobile */
        max-width: 100%; /* Ensure full width */
    }

    .cards-icon img {
        width: 50px; /* Adjust icon size for mobile */
        height: auto; /* Maintain aspect ratio */
    }

    .cards-title {
        font-size: 0.9rem; /* Adjust font size for mobile */
    }

    .cards-content p {
        font-size: 0.8rem; /* Adjust paragraph font size */
    }
}
